<!-- <%= comment%>-->
<!--<%= comment_log_form%>-->

<% log = my_status_choice(comment) %>

<div>
	<% if done_like? (log) %>
		<a href="/comment_logs.<%=log.id%>" data-method="delete" rel="nofollow"><button>좋아요 취소</button></a>
	<% else %>
		<%= form_for comment_log_form do |f| %>
			<%= f.hidden_field :comment_id, :value=>comment.id%>
			<%= f.hidden_field :uid, :value=>current_user.id%>
			<%= f.hidden_field :status, :value=>1%>
			<%= hidden_field_tag :songtag_id, cur_songtag_id%>
			<%= f.button "좋아요"%>
		<% end %>
	<% end %>
</div>

<div>
	<% if done_dislike? (log) %>
		<a href="/comment_logs.<%=log.id%>" data-method="delete" rel="nofollow"><button>좋아요 취소</button></a>
	<% else %>
		<%= form_for comment_log_form do |f| %>
			<%= f.hidden_field :comment_id, :value=>comment.id%>
			<%= f.hidden_field :uid, :value=>current_user.id%>
			<%= f.hidden_field :status, :value=>-1%>
			<%= hidden_field_tag :songtag_id, cur_songtag_id%>
			<%= f.button "싫어요"%>
		<% end %>
	<% end %>
</div>

<div><!-- re-cmt btn -->
	
</div>
