<% if comments.length == 0 %>
<% elsif comments.length == 1 %>
<% else %>
	<% comments.each do |cmt| %>
		<div class="detail-best-cmt-elem">
			<div class="img" style="float:left;">
				이미지
			</div>
			<div class="right">
				<div>
					<div class="title">
						<big><%= cmt.user.name%></big> | <small><%=convert_time(cmt.created_at)%></small>
					</div>
					<div class="status">
						i1 <%= cmt_likes(cmt).count%>
						i2 <%= cmt_dislikes(cmt).count%>
						i3 <%= cmt.re_comments.count%>
					</div>
				</div>
				
				<div class="context">
					<%= cmt.context%>
				</div>
			</div>
			<div class="over" >
					over
			</div>
		</div>
	<% end %>
<% end %>


