<div class="detail-re-cmt-elem">
	<div class="first-row">
		<div class="title">
			<big><%= re_cmt.user.name %></big>
			<small><%= convert_time(re_cmt.created_at) %></small>
		</div>
		<div class="status">
			<%= image_tag "like_15x14.png"%> <%= cmt_likes(re_cmt).count%>
			<%= image_tag "unlike_15x14.png"%> <%= cmt_dislikes(re_cmt).count%>
		</div>
	</div><!-- first-row -->
	<div class="context"><!-- content -->
		<%= trunc_recmt ( re_cmt.context ) %>
		<div>
			<%= link_to "더보기", "/comments/popup/#{re_cmt.id}", :remote=> true %>
		</div>
	</div>
	<div class="over"><!-- mouse over-->
		<%= render 'comments/show_detail_cmt_log', :comment_log_form=>comment_log_form, :comment=>re_cmt, :cur_songtag_id => cur_songtag_id, :is_recmt=>true%>
	</div>
</div>