<div class="detail-cmt-elem">
	<div class="first-row">
		<div class="title">
			<big><%= comment.user.name %></big> | <small><%= convert_time(comment.created_at)%></small>
		</div>
		<div class="status">
				i1 <%= cmt_likes(comment).count %>
				i2 <%= cmt_dislikes(comment).count %>
				i3 <%= comment.re_comments.count %>
		</div>
	</div><!--detail-cmt-first-row-->

	<div class="context">
		<%= comment.context %>
	</div>
	
	<div class="over">
		<%= render 'comments/show_detail_cmt_log', :comment_log_form=>comment_log_form, :comment=>comment, :cur_songtag_id => cur_songtag_id%>
	</div>
	
</div>

<div>
	<%= render 'comments/show_detail_re_cmt', :re_cmts=>comment.re_comments, :comment_log_form=>comment_log_form, :cur_songtag_id => cur_songtag_id%>
</div>

<div class="detail-re-cmt-form">
	<%= render 'comments/detail_re_cmt_form', :parent_cmt=>comment , :comment_form => comment_form%>
</div>