<% if comments.length == 0 %>
	<div class="detail-best-cmt-notice">
		도전해라 이미지. 550 X 60
	</div>
<% else %>
	<% comments.each do |cmt| %>
		<div class="detail-best-cmt-elem">
			<div class="img">
				이미지 60X60
			</div>
			<div class="right">
				<div>
					<div class="title">
						<big><%= cmt.user.name%></big> | <small><%=convert_time(cmt.created_at)%></small>
					</div>
					<div class="status">
						i1 <%= cmt_likes(cmt).count%>
						i2 <%= cmt_dislikes(cmt).count%>
						i3 <%= cmt.re_comments.count%>
					</div>
				</div>

				<div class="context">
					<%= cmt.context%>
				</div>
			</div>
			<div class="over" >
					over
			</div>
		</div>
	<% end %>
	<% if comments.length == 1 %>
		<div class="detail-best-cmt-notice">
			도전해라 이미지. 550 X 60
		</div>
	<% end %>
<% end %>