<div class="detail-cmt-elem">
	<div class="first-row">
		<div class="title">
			<big><%= comment.user.name %></big> | <small><%= convert_time(comment.created_at)%></small>
		</div>
		<div class="status" >
				<%= image_tag "like_15x14.png"%> <%= cmt_likes(comment).count %>
				<%= image_tag "unlike_15x14.png"%> <%= cmt_dislikes(comment).count %>
				<%= image_tag "reply_15x14.png"%> <%= comment.re_comments.count %>
		</div>
	</div><!--detail-cmt-first-row-->

	<div class="context">
		<%= trunc_cmt ( comment.context ) %>
		<div>
			<%= link_to "더보기", "/comments/popup/#{comment.id}", :remote=> true %>
		</div>
	</div>
	
	<div class="over">
		<%= render 'comments/show_detail_cmt_log', :comment_log_form=>comment_log_form, :comment=>comment, :cur_songtag_id => cur_songtag_id, :is_recmt=>false, :is_best=>false%>
	</div>
	
</div>

<div class="detail-more-recmt-form", id="more-recmt-<%=comment.id%>">
	<% if comment.re_comments.length > 3 %>
		<%= render '/comments/detail_more_recmt_form', :parent_cmt=>comment, :next_page_num=>2 %>
	<% end %>
</div>

<div id="re-cmt-<%=comment.id%>-div">
	<% comment.re_comments.paginate(:per_page=>3, :page=>@page).order("created_at ASC").each do |re_cmt| %>
		<%= render 'comments/show_detail_re_cmt', :re_cmt=>re_cmt, :comment_log_form=>comment_log_form, :cur_songtag_id => cur_songtag_id%>
	<% end %>
</div>

<div class="detail-re-cmt-form" id="detail-re-cmt-form-<%=comment.id%>">
	<%= render 'comments/detail_re_cmt_form', :parent_cmt=>comment , :comment_form => comment_form%>
</div>