<% log = my_status_choice(comment) if log.nil?%>

<div class="detail-cmt-log" id="detail-cmt-log-<%=comment.id%>">
	<div class="log-btn">
		<% if done_like? (log) %>
			<%= link_to "<button>좋아요 취소</button>".html_safe, comment_logs_path(log), :remote=> true, :method => :delete %> 
		<% else %>
			<%= form_for comment_log_form , remote: true do |f| %>
				<%= f.hidden_field :comment_id, :value=>comment.id%>
				<%= f.hidden_field :uid, :value=>current_user.id%>
				<%= f.hidden_field :status, :value=>1%>
				<%= hidden_field_tag :songtag_id, cur_songtag_id%>
				<%= f.button "좋아요" , :class=>'like_btn'%>
			<% end %>
		<% end %>
	</div>

	<div class="log-btn">
		<% if done_dislike? (log) %>
			<%= link_to "<button>싫어요취소</button>".html_safe, comment_logs_path(log), :remote=> true ,:method => :delete %>
		<% else %>
			<%= form_for comment_log_form , remote: true  do |f| %>
				<%= f.hidden_field :comment_id, :value=>comment.id%>
				<%= f.hidden_field :uid, :value=>current_user.id%>
				<%= f.hidden_field :status, :value=>-1%>
				<%= hidden_field_tag :songtag_id, cur_songtag_id%>
				<%= f.button "싫어요" , :class=>'dislike_btn'%>
			<% end %>
		<% end %>
	</div>
	<% if !is_recmt %>
		<div class="log-btn">
			<button class="dislike_btn" name="button" onclick="javascript:show_recmt_form(<%=comment.id%>)">댓글달기</button>
		</div>
	<% end %>
</div>
