<% hr_flag = true%>
<% if comments.length == 0 %>
	<div class="detail-best-cmt-notice">
		<%= image_tag "best_2_229x19.png"%>
	</div>
<% else %>
	<% comments.each do |cmt| %>
		<div class="detail-best-cmt-elem">
			<div class="img">
				<%= image_tag "best_35x35.png"%>
			</div>
			<div class="right">
				<div class="title">
					<big><%= cmt.user.name%></big> | <small><%=convert_time(cmt.created_at)%></small>
				</div>
				<div class="status">
					<%= image_tag "like_15x14.png"%> <%= cmt_likes(cmt).count%>
					<%= image_tag "unlike_15x14.png"%> <%= cmt_dislikes(cmt).count%>
					<%= image_tag "reply_15x14.png"%> <%= cmt.re_comments.count%>
				</div>

				<div class="context">
					<%= cmt.context%>
				</div>
				
				<div class="over" >
					<%= render 'comments/show_detail_cmt_log', :comment_log_form=>comment_log_form, :comment=>cmt, :cur_songtag_id => cmt.songtag, :is_recmt=>true%>
				</div>
			</div>
		</div>
			
		<% if hr_flag %>
			<div class="detail-hr">
			</div>
			<% hr_flag = false%>
		<% end %>
	<% end %>
	
	<% if comments.length == 1 %>
		<div class="detail-best-cmt-notice">
			<%= image_tag "best_2_229x19.png"%>
		</div>
	<% end %>
<% end %>