<div id="main-content-elem-<%= songtag.id %>" class="simple-songtag-container">
	<div class="title">
		<span class="title-text"><a href="/songtags/<%= songtag.id %>"><%= songtag.title %></a></span>
	</div>
			<div class="thumb"><img src=<%= youtube_thumb(song) %>></div>
			<div class="mint-title"><span>1등</span><% song.title %></div>
	<div class="mint-info">
	<div class="right-float"><%= image_tag "reply_main_15x15.png" %> <span><% songtag.comments.count %></span>
</div>
<div class="right-float">
	<%= image_tag "music_main_13x15.png" %> <span><% songtag.songs.count %></span>
</div>
<div class="right-float">
	<%= image_tag "stamp_main_15x15.png" %> <span><% song.votes.count %></span>
</div>
<div class="right-float space"></div>
</div>
</div>
