<div id="song-dialog" class="dialog-box">
	<div class="song-add-dialog">
		<div class="title-bar">
			<%= songtag.title %>
		</div>
		
		<%= form_for :song, :url=>songs_path do |f| %>
			<%= f.hidden_field :uid, :value=>user.id %>
			<%= f.hidden_field :tag_id, :value=>songtag.id %>

			<div class="song-list">
				<% songs.each do |song| %>
					<div class="elem">
						<div class="thumb">
							<img src='<%= youtube_thumb(song) %>'/>
						</div>
						<div class="title">
							<%= song.title %>
						</div>
						<div class="etc">
						</div>
					</div>
				<% end %>
			</div>

			<div class="song-input">
				<% if songtag.songs.count < 15 %>
					<input type="text" name="mint-name" placeholder="민트 제목">
				  	<input type="text" name="mint-youtube-link" placeholder="유튜브 링크">
				  	<div class="preview-link">
				  		<%= link_to "#{image_tag 'btn_addmusic_normal_34x33.png'}".html_safe, "#", :onclick=>"song_form_preview_song()" %>
					</div>
				<% else %>
					최대 민트 수가 초과했습니다.
				<% end %>
			</div>

			<div class="song-submit">
				<%= f.submit "확인", :disabled=>"disabled;" %>
			</div>
		<% end %>
	</div>
</div>