<div id="song-dialog" class="dialog-box">
	<div class="song-add-dialog">
		<div class="title-bar">
			<%= songtag.title %>
		</div>
		
		<%= form_for :song, :url=>songs_path do |f| %>
			<%= f.hidden_field :uid, :value=>user.id %>
			<%= f.hidden_field :tag_id, :value=>songtag.id %>

			<ul name="add-song-list-in-new-song">
				<div class="song-list">
					<% songs.each do |song| %>
						<div class="thumb">
							<li><img src='<%= youtube_thumb(song) %>'/><%= song.title %></li>
						</div>
					<% end %>
				</div>
			</ul>

			<div class="song-input">
				<% if songtag.songs.count < 15 %>
					<input type="text" name="add-mint-name-in-new-song" placeholder="민트 제목">
				  	<input type="text" name="add-mint-youtube-link-in-new-song" placeholder="유튜브 링크">
				  	<a href="#" name="add-song-to-table" onclick="song_form_preview_song()">미리보기</a>					
				<% else %>
					There are too many songs!
				<% end %>
			</div>

			<div class="song-submit">
				<%= f.submit "Submit", :disabled=>"disabled;" %>
			</div>
		<% end %>
	</div>
</div>