<%= form_for(song) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field:title %>
  </div>
  <div class="field">
  	<%= f.label :youtube_id %><br />
  	<%= f.text_field :youtube_id %>
  </div>
  
  <%= f.hidden_field :tag_id, :value=>songtag.id%>
  <%= f.hidden_field :uid, :value=>current_user.id%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
