<%= form_for :songtag, :html =>{:id=>'songtag_add_form'}, :url=>songtags_path do |f| %>
  <%= f.hidden_field :uid, :value=>user.id %>
  <div class="field">
  	제목: <%= f.text_field :title %>
  </div>
  <div class="field">
  	<!-- table에 아이템이 추가되는 부분은 js로 작-->
  	<ul id="add-song-list">
	  	<%= f.fields_for "song[]", Song.new do |song_form| %>
	  	<% end %>
  	</ul>
  </div>
  <div class="field">
  	<input type="text" name="add-mint-name" placeholder="민트 제목">
  	<input type="text" name="add-mint-youtube-link" placeholder="유튜브 링크">
  	<a href="#" name="add-song-to-table" onclick="songtag_form_add_song()">추가</a>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
