<div>
	<h3><%= songtag.title %></h3>
	<p><%= songtag.author%>/<%= songtag.created_at %></p>
	<div><img src='<%= youtube_thumb(songs[0]) %>' /></div>
	<div>
		<div>
			<%=  songs[0].title %><%= render_vote_form(songs[0]) %>
			<% (songs[1..-1]).each do |song| %>
				<div><img src='<%= youtube_thumb(song) %>' /><%= song.title %><%= render_vote_form(song) %></div>
			<% end %>
		</div>
	</div>
</div>
<hr>
