<div>
	<p><%= songtag.title %></p>
	<p><%= songtag.author%>/<%= songtag.created_at %></p>
	<div><img src="http://img.youtube.com/vi/<%= (Song.find_by_id songtag.original_song_id).youtube_id %>/1.jpg"></div>
	<div>
		<table>
			<% songtag.songs.each do |song| %>
				<tr>
					<td><%= song.title %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
