<div>
	<h3><%= songtag.title %></h3>
	<p><%= songtag.author%>/<%= songtag.created_at %></p>
	<div><img src='<%= youtube_thumb(songs[0]) %>' /></div>
	<div>
		<div>
			<%= link_to songs[0].title, songtag_path(songs[0].tag_id, :song_id=>songs[0].id)%><%= render_vote_form(songs[0]) %>
			<% (songs[1..-1]).each do |song| %>
				<div><img src='<%= youtube_thumb(song) %>' /><%= link_to song.title, songtag_path(song.tag_id, :song_id=>song.id) %><%= render_vote_form(song) %></div>
			<% end %>
		</div>
	</div>
</div>
<hr>
