<div class="mint-list-elem">
	<div class="title">
		<b><%= songtag.title %></b>
	</div>
	
	<div class="user">
		<%= songtag.user.name%> | <%= convert_time(songtag.created_at)%>
	</div>
	
	
	<% songs.each_with_index do |song, index|%>
		<% if index == 0%>
			<div class="thumb">
				<img src='<%= youtube_thumb(song) %>'/>
			</div>
			<div class="rank1">
				<div class="img">
					<%= image_tag "no_1_list_21x18.png"%>
				</div>
				
				<div class="title">
					<b><%= song.title %></b>
				</div>
				
				
				<div class="vote">
					<%= image_tag "stamp_on_list_20x20.png"%>
				</div>
				
				<div class="vote-num">
					100표
				</div>
			</div>
		<% else %>
			<div class="rank-elem">
				<% if songs.length-1 == index %>
					<div class="thumb" style="border-bottom-left-radius: 5px;">
						<img src='<%= youtube_thumb(song) %>' style="border-bottom-left-radius: 5px;"/>
					</div>
				<% else %>
					<div class="thumb">
							<img src='<%= youtube_thumb(song) %>'/>
						</div>
				<% end %>
				
				<div class="title">
					<b><%= song.title%></b>
				</div>
				<div class="vote">
					<%= image_tag "stamp_off_list_20x20.png"%>
				</div>
			</div>
		<% end %>
	<% end %>
</div>