<div class="mint-list-elem">
	<div class="title">
		<a href="/songtags/<%=songtag.id%>"><b><%= songtag.title %></b></a>
	</div>
	
	<div class="user">
		<%= songtag.user.name%> | <%= convert_time(songtag.created_at)%>
	</div>
	
	
	<div id="mint-list-rank-<%=songtag.id%>">
		<% songs.each_with_index do |song, index|%>
			<%= render 'songtags/listelem_rank_elem', :song=>song, :index=>index, :songtag=>songtag%>
		<% end %>
	</div>
</div>