<% if index == 0%>
	<div class="thumb">
		<a href="songtags/<%=songtag.id%>/<%=song.id%>"><img src='<%= youtube_thumb(song) %>'/></a>
	</div>
	
	<div class="rank1">
		
		<div class="img">
			<%= image_tag "no_1_list_21x18.png"%>
		</div>
		
		<div class="title">
			<a href="songtags/<%=songtag.id%>/<%=song.id%>"><b><%= song.title %></b></a>
		</div>
		
		
		<div class="vote">
			<%= render_vote_form(song, Vote.at_list) %>
		</div>
		
		<div class="vote-num">
			<%= song.votes.count %>표
		</div>
	</div>
<% else %>
	<div class="rank-elem">
		<% if songtag.songs.length-1 == index %>
			<div class="thumb" style="border-bottom-left-radius: 5px;">
				<img src='<%= youtube_thumb(song) %>' style="border-bottom-left-radius: 5px;"/>
			</div>
		<% else %>
			<div class="thumb">
					<a href="songtags/<%=songtag.id%>/<%=song.id%>"><img src='<%= youtube_thumb(song) %>'/></a>
				</div>
		<% end %>
		
		<div class="title">
			<a href="songtags/<%=songtag.id%>/<%=song.id%>"><b><%= song.title%></b></a>
		</div>
		<div class="vote">
			<%= render_vote_form(song, Vote.at_list) %>
		</div>
	</div>
<% end %>