<h1>Listing songtags</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Contents</th>
    <th>Original song</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songtags.each do |songtag| %>
  <tr>
    <td><%= songtag.title %></td>
    <td><%= songtag.contents %></td>
    <td><%= songtag.original_song_id %></td>
    <td><%= link_to 'Show', songtag %></td>
    <td><%= link_to 'Edit', edit_songtag_path(songtag) %></td>
    <td><%= link_to 'Destroy', songtag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Songtag', new_songtag_path %>
