<p id="notice">
	<%= notice %>
</p>

<h3><%= @songtag.title %></h3>
투표 여부 : <%= voted?(@songtag)%>

<hr>
<% @songs.each do | song | %>
<div>
	<% if is_original_song? @songtag , song%>
		원곡가수 <%= song.singer %>
	<% else %>
		<%= song.singer%>
	<% end %>

	<%= render 'songs/show', :song=>song %>
</div>

<% end %>

<div>
	<%= form_for @comment_form do |f| %>
		<%= f.text_field( :context)%>
		<%= f.hidden_field :songtag_id, :value=>@songtag.id%>
		<%= f.hidden_field :uid, :value=>current_user.id%>
		<%= f.button %>
	<% end %>
	
	<% @comments.each do |cmt|%>
		<%= cmt.user.name%>:
		<%= cmt.context%><br>
		
		<% cmt.re_comments.each do |re|%>
				- 
				<%= re.user.name%>:
				<%= re.context%>
				<br>
		<% end %>
		
		<%= form_for @comment_form do |f| %>
		<%= f.text_field( :context)%>
		<%= f.hidden_field :songtag_id, :value=>@songtag.id%>
		<%= f.hidden_field :uid, :value=>current_user.id%>
		<%= f.hidden_field :parent_cmt_id, :value=> cmt.id%>
		<%= f.button "Create Re Comment"%>
		
	<% end %>
	<% end %>
</div>
