<div>
	<div>
		<!--left col-->
		<div>
			<!--video-->
			<%= render 'songs/show', :song=>@current_song %>
		</div>
		<div>
			<!--rank list |||| enable scroll-->
			<%= render 'ranks/detail_rank_list', :songs => @songs%>
		</div>
	</div>
	<div>
		<!--right col |||| enable scroll-->
		<div>
			<!--title-->
			<%= @songtag.title %>
		</div>
		<div>
			<!--best cmt-->

		</div>
		<div>
			<!-- cmt enter form-->
			<%= render 'comments/detail_cmt_form', :comment_form=>@comment_form%>
		</div>
		<div>
			<!-- cmts... -->
			<% @comments.each do | comment | %>
			<div>
				<%= render 'comments/show_detail_cmt', :comment=>comment%>
			</div>
			<% end %>
		</div>
	</div>
</div>