<p id="notice">
	<%= notice %>
</p>

<h3><%= @songtag.title %></h3>
투표 여부 : <%= voted?(@songtag)%>

<hr>
<% @songs.each do | song | %>
<div>
	<% if is_original_song? @songtag , song%>
		원곡가수 <%= song.singer %>
	<% else %>
		<%= song.singer%>
	<% end %>

	<%= render 'songs/show', :song=>song %>
</div>

<% end %>

<%= link_to 'Edit', edit_songtag_path(@songtag) %> |
<%= link_to 'Back', songtags_path %> |
