<div>
	<div class="detail-left-col">
		<!--left col-->
		<div class="detail-video">
			<!--video-->
			<%= render 'songs/show', :song=>@current_song %>
		</div>
		<div class="detail-rank">
			<!--rank list |||| enable scroll-->
			<%= render 'ranks/detail_rank_list', :songs => @songs%>
		</div>
	</div>
	<div style="float:left;" class="detail-comment">
		<!--right col |||| enable scroll-->
		<div>
			<!--title-->
			<div class="detail-title">
				<div class="detail-title-img">
					<%= image_tag "detail-title-log.gif"%>
				</div>
				<div class="detail-title-text">
					<big><%= @songtag.title %></big>
				</div>
			</div>
		</div>
		<div>
			<!--best cmt-->
			<%= render 'comments/show_detail_best_cmt', :comments=>@best_comments%>
		</div>
		<div class="detail_cmt_form">
			<!-- cmt enter form-->
			<%= render 'comments/detail_cmt_form', :comment_form=>@comment_form %>
		</div>
		<div>
			<!-- cmts... -->
			<% @comments.each do | comment | %>
			<div>
				<%= render 'comments/show_detail_cmt', :comment=>comment, :comment_form=>@comment_form, :comment_log_form=> @comment_log, :cur_songtag_id => @songtag.id%>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div>
	<!-- new song modal view -->
	<%= render 'songs/form', :song=>@song_form, :songtag=>@songtag%>
</div>

<div>
	<!-- comment modal view-->
</div>