<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/"><%= image_tag "logo1.png"%></a>

			<ul class="nav">
				<li>
					<a href="/songtags">전체</a>
				</li>
				<li>
					<a href="/songtags?category=<%= Songtag.popular_songtags_flag%>">인기</a>
				</li>
				<li>
					<a href="/songtags?category=<%= Songtag.new_songtags_flag%>">최신</a>
				</li>
			</ul>
			<ul class="pull-right">
				<li class="dropdown" style="float:left;">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= image_tag "btn_login_normal_16x21.png" , :class=>"header-item"%> </a>

					<ul class="dropdown-menu">
						<li>
							<% if signed_in? %>
							<%= link_to "로그아웃", signout_path%>
							<% else %>
							<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
							<% end %>
						</li>
					</ul>
				</li>

				<li style="float:left;">
					<%= image_submit_tag "btn_write_normal_22x21.png", :id=> "songtag-add-btn", :onclick=>"javascript:add_songtag()", :class=>"header-item"%>
				</li>
				<li style="float:left;">
					<%= render 'search/form'%>
				</li>

			</ul>
		</div>
	</div>
</div>

<div>
	<% if signed_in? %>
	<%= render 'songtags/form', :user => current_user %>
	<% end %>
</div>