<!DOCTYPE html>
<html>
	<head>
		<title>Dasi</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div>
			<%= render 'layouts/header' %>
		</div>

		<div id="doc">
			<div class="container">
				<%= yield %>
			</div>
		</div>

		<div class="dialog-overlay" onclick="popdown()"></div>
		<div class="dialog-box"></div>
		
		<%= debug(params) if Rails.env.development? %>

	</body>
</html>
